<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Animated Striped bar </h4>
        <div class="progress m-t-30">
          <div
            class="progress-bar bg-primary active progress-bar-striped"
            style="height: 12px"
            role="progressbar"
            [style.width]="getPorcentaje"
            >
          </div>
        </div>

        <div class="progress m-t-30">
          <div
            class="progress-bar bg-danger active progress-bar-striped"
            style="height: 12px"
            role="progressbar"
            [style.width]="getPorcentaje2"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementador [progreso]="progreso1" (emitirValor)=" progreso1 = $event" ></app-incrementador>


      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        

        <app-incrementador [progreso]="progreso2" (emitirValor)=" progreso2 = $event" [btnClass]="'btn btn-danger'"></app-incrementador>

      </div>
    </div>
  </div>
</div>
